body {
    font-family: Roboto;
}

.header {
    display: flex;
    justify-content: center;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 20px;
}

.center-content {
    display: flex;
    justify-content: center;
}

.top_text_margin {
    width: 75%;
    margin: auto;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0px;
}

.text_margin {
    margin-left: 34px;
    margin-right: 34px;
}

.text_flow {
    margin-bottom: 23px;
    text-align: left;
    width: 222px;

}

.text_settings {
    color: #fff;
    margin-left: 5px;
    margin-right: 11px;
}

.top {
    background: #E0E1E2;
    padding-top: 25px;
    padding-bottom: 48px;
}

.top_img {
    margin-top: 94px;
    height: 230px;
    background-image: url(img/MX-Master\ 1.svg);
    background-size: contain;
    margin-bottom: 41px;
    background-repeat: no-repeat;
    background-position: center;
}

.top_arrow {
    margin-top: 40px;
}

.bluetooth {
    background: #EDEDED;
    padding-top: 42px;
    padding-bottom: 22px;
}

.bluetooth__icon {
    margin-bottom: 27px;
}

.bluetooth__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-top: 31px;
}

.bluetooth__img {
    height: 284px;
    background-image: url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.info {
    padding-top: 70px;
    padding-bottom: 77px;
}

.info__item {
    border: 1px solid #2F3132;
    flex-basis: 166px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__content {
    margin-top: 30px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.info__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.carousel {
    margin-bottom: 100px;
}

.info__text {
    margin-left: 67px;
    margin-right: 61px;
}

.info__item-heading {
    margin-bottom: 5px;
}

.flow {
    padding-top: 70px;
    padding-bottom: 218px;
    background-image: url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1\ \(1\).png);
    background-color: #EDEDED;
    background-repeat: no-repeat;
    background-position: bottom;
}

.flow__ol {
    margin-top: 36px;
    padding-left: 54px;
}

.settings {
    padding-top: 70px;
    background: #EDEDED;

}

.settings__slider {
    margin: 35px 22px 98px 23px;
}

.settings__content {
    background: #C4C4C4;
    padding: 23px 22px 26px 29px;
}

.settings__icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}